<footer style="background-color: #f8f9fa; padding: 20px; text-align: center; border-top: 1px solid #e9ecef;">
    <div class="footer-content">
        <p>&copy; 2025 Task Manager. All rights reserved.</p>
        <p>Follow us on 
        <a href="https://x.com/AsiimweMark11" target="_blank">Twitter</a>, 
        
        </p>
    </div>
    <div class="footer-links">
        
        <a href="#">Terms of Service</a><p style="size: 2px;">lol no terms-of-service</p> | 
        <a href="https://wa.me/0777315641">Contact ALLAN</a>
    </div>
    <div class="footer-credits">
        <p>Developed by <a href="#" target="_blank">HQM INC</a></p>
    </div>

</footer>