{% extends 'base.html' %}
{% block content %}
  <div class="container">
  <div class="row">
        {% for task in tasks %}
        <div class="col-md-4 col-sm-4">
        <div class="card" style="width: auto; margin-bottom: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <img src="{{ task.image.url }}" class="card-img-top" alt="task image" style="max-width: 30%; height:15%; border-radius: 10%;
        margin: 10px auto; display: block; ">
        <div class="card-body">
            <h5 class="card-title "><a href="{% url 'update' task.id %}">{{task.name}}</a></h5>
            <p class="card-text ">{{task.description}}</p>
            {% if task.is_complete %}
            <p>This task is complete</p>
            {% endif %}
            <a href="{% url 'update' task.id %}" class="btn btn-primary">Update Task</a>
            {% if task.dueDate.date > now.date %}
            <p class="card-text">This task is supposed to be completed on {{task.dueDate}}</p>
            {% elif task.dueDate.date == now.date %}
            <p class="card-text" style="color: orangered;">This task is supposed to be completed today at {{task.dueDate.time}} </p>
            {% elif  task.dueDate.date < now.date  %}
            <p class="card-text" style="color: red;">Task was due on {{task.dueDate}}</p>
            
            {% endif %}
            {% if not task %}
            <p class="card-text">You've not added any tasks yet</p>
            {% endif %}
        </div>
        </div>
        </div>
        {% endfor %}
        </div>
        </div>
        {% if not user.is_authenticated %}
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>Welcome to my task manager site please create account or login to continue</h3>
            </div>
            <div class="card col">
              <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">If you already have an account, please login to manage your tasks.</p>
                <a href="{% url 'login_user' %}" class="btn btn-primary">Login</a>
                <a href="{% url 'register_user' %}" class="btn btn-secondary">Register</a>
              </div>
            </div>
        {% endif %}
 {% endblock %}